.contact {
  @include display();
  // background-color: red;
  flex-direction: column;
  padding: 5% 10px;
  gap: 60px;

  &__form {
    @include display();
    flex-direction: column;
    gap: 10px;
    align-items: start;
    width: 100%;
    max-width: 500px;
  }

  &__label {
    font-size: 15px;
  }

  &__input {
    outline: none;
    padding: 8px;
    width: 100%;
  }

  &__button {
    border: none;
    padding: 5px 10px;
    background-color: green;
    color: white;
  }

  &__bottom {
    @include display();
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
    border-top: 1px solid black;
    width: 100%;
    max-width: 1000px;
    padding: 20px;
  }
}