.history {
  @include display();
  padding: 5% 10px;

  &__item {
    @include display();
    flex-direction: column;
    width: 100%;
  }

  &__text {
    @include display();
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid gray;;
    max-width: 500px;
    word-break: break-all;
  }
}