.main {
  &__ul {
    @include display();
    justify-content: start;
    gap: 10px;
    padding: 30px 15%;
    background-color: rgb(27, 26, 26);
  }

  &__list-i {
    color: white;
    background-color: rgba(58, 58, 58, 0.897);
    padding: 5px 10px;
    // border-radius: 8px;
    border: 1px solid rgb(119, 119, 119);
  }

  &__todo {
    @include display();
    flex-direction: column;
    padding: 5% 10px;
    gap: 30px;
  }

  &__form {
    @include display();
    gap: 10px;
    width: 100%;
  }

  &__input {
    outline: none;
    padding: 8px;
    width: 100%;
    max-width: 500px;
  }

  &__todo-button {
    border: none;
    padding: 8px;
    background-color: green;
    color: white;
    font-weight: 600;
  }

  &__todos {
    @include display();
    flex-direction: column;
    gap: 10px;
    border-top: 1px solid gray;
    padding: 20px 0px;
    width: 100%;
  }
  

  &__todo-item {
    @include display();
    justify-content: space-between;
    width: 100%;
    gap: 10px;
    align-items: start;
    border: 1px solid rgb(97, 97, 97);
    padding: 10px;
  }

  &__todo-text{
    word-break: break-all;
    max-width: 400px;
  }

  &__todo-del {
    border: none;
    padding: 5px;
    background-color: rgb(141, 4, 4);
    color: white;
    font-weight: 600;
  }
}