* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

li {
  list-style: none;
}

.removed {
  opacity: 0.5 !important;
}

.main__ul {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: start;
  gap: 10px;
  padding: 30px 15%;
  background-color: rgb(27, 26, 26);
}
.main__list-i {
  color: white;
  background-color: rgba(58, 58, 58, 0.897);
  padding: 5px 10px;
  border: 1px solid rgb(119, 119, 119);
}
.main__todo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5% 10px;
  gap: 30px;
}
.main__form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
}
.main__input {
  outline: none;
  padding: 8px;
  width: 100%;
  max-width: 500px;
}
.main__todo-button {
  border: none;
  padding: 8px;
  background-color: green;
  color: white;
  font-weight: 600;
}
.main__todos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  border-top: 1px solid gray;
  padding: 20px 0px;
  width: 100%;
}
.main__todo-item {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
  align-items: start;
  border: 1px solid rgb(97, 97, 97);
  padding: 10px;
}
.main__todo-text {
  word-break: break-all;
  max-width: 400px;
}
.main__todo-del {
  border: none;
  padding: 5px;
  background-color: rgb(141, 4, 4);
  color: white;
  font-weight: 600;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5% 10px;
  gap: 60px;
}
.contact__form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  align-items: start;
  width: 100%;
  max-width: 500px;
}
.contact__label {
  font-size: 15px;
}
.contact__input {
  outline: none;
  padding: 8px;
  width: 100%;
}
.contact__button {
  border: none;
  padding: 5px 10px;
  background-color: green;
  color: white;
}
.contact__bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
  border-top: 1px solid black;
  width: 100%;
  max-width: 1000px;
  padding: 20px;
}

.settings {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6% 10px;
}
.settings__boxes {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  justify-content: space-between;
  max-width: 500px;
}
.settings__text {
  opacity: 0.7;
}

.history {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5% 10px;
}
.history__item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.history__text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid gray;
  max-width: 500px;
  word-break: break-all;
}/*# sourceMappingURL=style.css.map */